body{
  padding: 0;
  margin: 0;
}
.chat{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: #0B141A;
  justify-content: end;
}
.enviado{
  color: white;
  background-color: #005C4B;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: auto;
  width: max-content;
  
}
.recibido{
  color: white;
  background-color: #202C33;
  border-radius: 1rem;
  padding: 1rem;
  width: max-content;
}
.chat__input{
  background-color: #202C33;
}
.chat__input input{
  width: 90%;
  background-color: #2A3942;
  outline: none;
  border: none;
  border-radius: 3rem;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  
}
.chat__input__enviar{
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 1.5rem;
}