.lista{
    width: 25vw;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #111B21;
}
.usuario{
    cursor: pointer;
}
.usuario__img{
    width: 2vw;
}
.usuario__img img{
    width: 100%;
    border-radius: 51%;
}