#root{
    position: relative;
}
.configuracion{
    display: block;
    top: 20%;
    left: 40%;
    background-color: #111B21;
    padding: 3rem 5rem;
    border-radius: 2rem;
    color: white;
    z-index: 100;
}
.configuracion__activo ~ .users__confi{
    pointer-events: none;
}
.configuracion__activo ~ .c{
    pointer-events: none;
}
.config__header .btn{
    color: white !important;
}
.configuracion__info__user__foto{
    width: 15vw;
    height: 15vw;
}
.configuracion__info__user__foto img{
    width: 100%;
    height: 100%;
    border-radius: 51%;
}
.configuracion__info{
    display: flex;
    gap: 3rem;
}
.configuracion__info__user__info{
    display: flex;
    flex-direction: column;
}
.configuracion__info__user__info button{
    margin-top: auto;
    margin-left: auto;
}
.galery__option__perfil{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
.galery__option__perfil img{
    width: 100%;
    height: 100%;
    border-radius: 51%;
}

.configuracion__info .btn{
    color: white !important;
}


.contenedor{
    
    width: 4rem;
}
.add_file{
    width: 100%;
}
.add_file input[type=file] {
    background-color: red !important;
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 0;
    opacity: 1;
    display: none;
    cursor: pointer;
}
  
.add_file label {
    display: inline-block;
    padding: .6rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .linea{
    border-bottom: .1rem solid white !important;
    pointer-events:inherit !important;
  }

.configuracion__info input[type=text]{
    text-align: left !important;
    pointer-events: none;
}